@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ECEFF3;
    margin: 0;
}

nav {
    height: 61px;
    background-color: #fff;
    margin-top: 0;
    /* display: flex; */
    align-items: center;
    width: 100%;
}

.container {
    max-width: 1300px;
    padding: 5px 50px;
    margin: auto;
}

.nav_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:1300px) {
    .nav_links {
        width: auto;
    display: none;
    }
}
.nav_links {
    width: auto;

}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.nav_links_a {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.nav_contacts {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.nav_telegram_box {
    margin-top: 2px;
}

.nav_phone_box {
    display: flex;
    text-decoration: none;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    column-gap: 11px;
}


.banner{
    margin-top: 30px;
}
.banner_image{
    border-radius: 22px;
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.projects{
    margin-top: 64px;
}
.projects_card_block{
    margin-top: 40px;
}
.block_title{
 font-family: "Inter", sans-serif;
font-size: 40px;
font-weight: 600;
text-align: center;
}
.projects_card_block{
    width: 100%;
    display: flex;
column-gap: 1.25%;
row-gap: 19px;
flex-wrap: wrap;
}
.projects_card{
    background-color: #fff;
    border-radius: 22px;
    width: 32.5%;
    text-decoration: none;
color: #000;
}
.projects_card_container{
    padding: 10px;

}
@media (max-width:1300px) {
    .projects_card_block{
     
    column-gap: 2%;
    row-gap: 19px;
    }
    .projects_card{
    
        width: 32%;
    }  
}
@media (max-width:1100px) {
    .projects_card_block{
     
    column-gap: 2% !important;    
    row-gap: 19px;
    }
    .projects_card{
    
        width: 49% !important;
    }  
}
@media (max-width:800px) {
    .projects_card_block{
     
    column-gap: 0% !important;    
    row-gap: 19px;
    }
    .projects_card{
    
        width: 100% !important;
    }  
}
.projects_card_img{
    border-radius: 20px;
    width: 100%;
}
.card_text_block{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

}

.card_text_block{
    padding: 0px 15px;
}
.card_title{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.card_price{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
    color: #3B85FA;
}
.card_count{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
    color: #858585;
}
.card_text_right{
    display: flex;
    justify-self:flex-end;
    align-items: end;
}
.card_palace{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
    color: #858585;
}