@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ECEFF3;
    margin: 0;
}

* {
    margin: 0;
}

nav {
    height: 61px;
    background-color: #004F2E;
    margin-top: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.container {
    /* max-width: 1300px; */
    /* width: 100%; */
    padding: 0px 50px;
    margin: auto;
    margin-top: auto;
}

@media (max-width:600px) {
    .container {
        padding: 0px 20px;
    }
}

.nav_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

@media (max-width:1300px) {
    .nav_links {
        width: auto;
        display: none;
    }
}

.nav_links {
    width: auto;
    display: none;
}



.nav_links_a {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.nav_contacts {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.nav_telegram_box {
    margin-top: 2px;
}

.logo img {
    /* height: 16px; */
}

@media (max-width:600px) {
    .logo img {
        width: 180px;
    }
}

.nav_phone_box {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    column-gap: 11px;
}

.banner {
    margin-top: 50px;
}

@media (max-width:600px) {
    .banner {
        margin-top: 30px;
    }
}

/* Stil body uchun */


/* Slider konteyneri */
.slider {
    width: 100%;
    /* height: 400px; */
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    border-radius: 22px;

}

@media (max-width:600px) {
    .slider {
        border-radius: 22px;
    }
}

.slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Har bir slayd */
.slide {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    border-radius: 22px;

}

.slide_img {
    width: 100% !important;
    /* Slayd kengligi bilan mos */
    /* border-radius: 22px; */
    /* Slayd burchaklarini yumaloqlash */
    height: 100% !important;
    padding: 0;
    margin: 0;
    border-radius: 22px;
    display: block;
}

@media (max-width:500px) {
    .slide_img {
        height: 170px !important;
    }
}

@media (max-width: 400px) {
    .slide_1 .slide_img {
        content: url('../images/projects/banner1_mobile.jpg');
        height: 170px !important;

    }

    .slide_2 .slide_img {
        content: url('../images/projects/banner2_mobile.jpg');
        height: 170px !important;

    }
}

.no-animation {
    transition: none !important;
}



.projects {
    margin-top: 30px;
    margin-bottom: 60px;
}

@media (max-width:600px) {
    .projects {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.projects_card_block {
    margin-top: 40px;
}

.block_title {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

@media (max-width:1300px) {
    .projects_card_block {
        margin-top: 30px;
    }

    .block_title {
        font-size: 30px;
        font-weight: 600;
    }
}

@media (max-width:600px) {
    .block_title {
        font-size: 25px;
    }
}


.projects_card_block {
    width: 100%;
    display: flex;
    column-gap: 1.25%;
    row-gap: 19px;
    flex-wrap: wrap;
}



.projects_card {
    background-color: #fff;
    border-radius: 22px;
    width: 32.5%;
    text-decoration: none;
    color: #000;
}

.projects_card_img_block {
    border-radius: 22px;

    overflow: hidden;

}
.projects_card_img {
    border-radius: 22px;
    width: 100%;
    transition: .3s all;
    /* height: ; */
    max-height: 300px;
    object-fit: cover;
}
.projects_card:hover .projects_card_img {
    transform: scale(1.1);
}

.projects_card_container {
    padding: 6px;
    padding-bottom: 12px;
}

@media (max-width:1500px) {
.projects_card_img{
max-height: 230px;
}
}
@media (min-width:1930px) {
    .projects_card {

        width: 23.5%;
    }
}
@media (max-width:1300px) {
    .projects_card_block {

        column-gap: 2%;
        row-gap: 19px;
    }

    .projects_card {

        width: 32%;
    }
}

@media (max-width:1100px) {
    .projects_card_block {

        column-gap: 2% !important;
        row-gap: 19px;
    }

    .projects_card {

        width: 49% !important;
    }
}

@media (max-width:800px) {
    .projects_card_block {
        margin-top: 20px;
        column-gap: 0% !important;
        row-gap: 19px;
    }

    .projects_card {

        width: 100% !important;
    }
}



@media (max-width:800px) {
    .projects_card_img {
        border-radius: 22px;
        width: 100%;
        transition: .3s all;
        /* height: ; */
        max-height: 170px;
        object-fit: cover;
    }
}

.card_text_block {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_text_block {
    padding: 0px 15px;
}

.card_title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    width: 100%;
}

.card_price {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
    color: #004F2E;
}

.pin_addres {
    color: #004F2E;
    width: 10px;
}

.card_count {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
    color: #858585;
}

.card_text_right {
    display: flex;
    /* margin-top: 100px; */
    justify-self: flex-end;
    align-items: end;
    flex-direction: column;
}

.card_palace {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
    color: #858585;
}

.footer {
    width: 100%;
    /* border-top: 2px solid black; */
    padding-bottom: 25px;
}

.separator {
    width: 4px;
    height: 4px;
    background: #A1A6AF;
    border-radius: 50%;
    /* font-size: 18px; */
}

.footer_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer_list {
    display: flex;
    list-style: none;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 0;
}

@media (max-width:450px) {
    .footer_list {
        gap: 10px;
    }

    .pin_addres {
        color: #004F2E;
        width: 8px;
    }

    .card_price {
        font-size: 10px;
    }

    .card_palace {
        font-size: 10px;

    }

    .card_count {
        font-size: 10px;
    }
}

.footer_text {
    text-align: center;
    color: #A1A6AF;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 50%;


}

.footer_text a {
    text-decoration: none;
    color: #A1A6AF;
    font-weight: 600;

}

@media (max-width:1000px) {
    .footer_text {
        width: 70%;
    }
}

@media (max-width:700px) {
    .footer_text {
        width: 90%;
    }
}

@media (max-width:450px) {
    .footer_text {
        width: 100%;
    }
}



.footer_link {
    text-decoration: none;
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width:450px) {
    .footer_link {
        font-size: 12px;
    }
}

.nav_card_right {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

@media (max-width: 1200px) {
    .nav_card_right {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
}

.nav_contact {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.nav_contact_text {
    font-family: "Golos Text", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    color: #004F2E;
}



@media (max-width: 1350px) {
    .nav_contact_text {
        margin-right: 15px;
    }
}

@media (max-width: 1000px) {
    .nav_contact_text {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .nav_contact_text {
        font-size: 18px;
    }
}

.nav_phone_icon {
    color: #004F2E;
    width: 32px;
    height: 32px;
}

@media (max-width: 1450px) {
    .nav_phone_icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1000px) {
    .nav_phone_icon {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 800px) {
    .nav_phone_icon {
        width: 26px;
        height: 26px;
    }
}

.nav_download {
    display: flex;
    column-gap: 10px;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .nav_download {
        gap: 10px;
    }
}

.nav_download_card {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.nav_download_text1 {
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #004F2E;
}

@media (max-width: 1200px) {
    .nav_download_text1 {
        text-align: center;
    }
}

.nav_download_text2 {
    font-family: "Golos Text", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #004F2E;
}